.sprite-1 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -0px -0px;
 }
 .sprite-10 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -800px -0px;
 }
 .sprite-11 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -1600px -0px;
 }
 .sprite-12 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -2400px -0px;
 }
 .sprite-13 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -3200px -0px;
 }
 .sprite-14 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -0px -554px;
 }
 .sprite-15 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -800px -554px;
 }
 .sprite-16 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -1600px -554px;
 }
 .sprite-17 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -2400px -554px;
 }
 .sprite-18 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -3200px -554px;
 }
 .sprite-19 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -0px -1108px;
 }
 .sprite-2 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -800px -1108px;
 }
 .sprite-20 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -1600px -1108px;
 }
 .sprite-21 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -2400px -1108px;
 }
 .sprite-22 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -3200px -1108px;
 }
 .sprite-3 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -0px -1662px;
 }
 .sprite-4 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -800px -1662px;
 }
 .sprite-5 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -1600px -1662px;
 }
 .sprite-6 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -2400px -1662px;
 }
 .sprite-9 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 554px;
     width: 800px;
     background-position: -3200px -1662px;
 }
 